In [16]:
import os
import pandas as pd
import numpy as np
from sys import platform

In [42]:
data_folder = './data/'
train_zip = f'{data_folder}train.zip'
test_zip  = f'{data_folder}test.zip'
train_file = f'{data_folder}train.csv'
test_file = f'{data_folder}test.csv'

In [43]:
def is_colab():
    return 'google.colab' in str(get_ipython())

def check_file(filename):
    if not os.path.exists(filename):
        if is_colab():
            from google.colab import files
            print(f"Please upload {filename} file")
            uploaded = files.upload()
        else:
            print(f"{filename} not exist, this notebook require {filename} to run")
    else:
        print(f"{filename} ready")

check_file(train_zip)
check_file(test_zip)

./data/train.zip ready
./data/test.zip ready

In [45]:
def unzip(src, dest):
    if not os.path.exists(dest):
        if platform == "linux" or platform == "linux2":
            !unzip {src} dat
        elif platform == "win32":
            !tar -xf {src} -C {data_folder}
        else:
            print(f"Please unzip {src} manually")
            
# System check
# Unzip data files if not already exist
unzip(train_zip, train_file)
unzip(test_zip, test_file)

In [46]:
train_df, test_df = pd.read_csv(train_file), pd.read_csv(test_file)
train_df.head()

,overall,reviewTime,reviewerID,reviewText,summary,unixReviewTime,category,price,itemID,reviewHash,image
0,5.0,"08 26, 2014",u92990698,A contemporary jazz and soul performer who's m...,""" CLASSIQUE """,1409011200,Jazz,$8.40,p23649501,3856620,NaN
1,5.0,"05 11, 2003",u36200649,Very good idea to put both the 'pop' and 'orch...,Exceeded my Expectations - This album RAWKS!,1052611200,Alternative Rock,$10.98,p58458313,56086781,NaN
2,5.0,"12 5, 2017",u10721702,This is a great collection of Carole King's so...,A Must-have for Carole King Fans,1512432000,Pop,$5.99,p97027626,55852154,NaN
3,5.0,"09 24, 2013",u86003775,The is album is a brilliant piece of Jazz fusi...,A Master piece!,1379980800,Jazz,$14.64,p43167086,43228100,NaN
4,5.0,"01 14, 2015",u25672859,Waited a LONG time for this DVD to be released...,especially if you like concert videos,1421193600,Alternative Rock,$9.92,p94494236,54425467,NaN

In [47]:
test_df.head()

,reviewTime,reviewerID,reviewText,summary,unixReviewTime,category,price,itemID,reviewHash,image
0,"02 11, 2017",u04140621,ok,Five Stars,1486771200,Pop,$31.20,p65721979,98944233,NaN
1,"01 29, 2018",u74766187,The 1955 and 1958 sets alone are worth the pur...,Buy It For the 1955 Set With Monk!,1517184000,Jazz,$34.04,p87809670,33903910,NaN
2,"08 29, 2005",u31689638,Mary J Blige is someone most people know of. S...,Mary's excellent debut! Classic!,1125273600,Pop,$1.72,p52702240,35386470,NaN
3,"11 2, 2015",u35613516,Very good satch album,Four Stars,1446422400,Pop,$10.99,p01314374,12404766,NaN
4,"01 3, 2012",u93320378,Well there are hundreds of Christmas anthologi...,CD lives up to its name,1325548800,Alternative Rock,$7.98,p84396269,68253688,NaN